*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
 }
 nav{
    display: flex;
    width: 100%;
    background: #74b5d3;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
 }
 nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
 }
 nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
 }
 nav ol li{
    margin: 0 2px;
 }
 nav ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
 }
 nav ol li:hover a{
    background: #fff;
    color: #0a5071;
 }
 nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
 }
 nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
 }
 nav .search_box span{
    color: #0a5071;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
 }
 nav .search_box span:hover{
    color: #fff;
 }
 nav .search_box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #2b50b8;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
 }
 nav .search_box span:hover::after{
    width: 100%;
 }
 nav .bar{
    position: relative;
    margin: auto;
    display: none;
 }
 nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;
 }
 input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
 }
 @media screen and (max-width: 1200px){
    nav{
       display: block;
       padding: 0;
    }
    nav .icon{
       display: inline-block;
       padding: 15px 30px;
    }
    nav .search_box{
       width: 100%;
       display: inline-flex;
       justify-content: center;
       margin-bottom: 15px;
    }
    nav .search_box input{
       width: 90%;
    }
    nav ol{
       display: flex;
       flex-direction: column;
       background: #fff;
       height: 0;
       visibility: hidden;
       transition: 0.3s;
    }
    nav ol li{
       text-align: center;
       transition: 0.3s 0.1s all;
       opacity: 0;
    }
    nav ol li a{
       color: #000;
       font-size: 28px;
       padding: 25px;
       display: block;
    }
    nav ol li:nth-child(1){
       transform: translateX(-150px);
    }
    nav ol li:nth-child(2){
       transform: translateX(-200px);
    }
    nav ol li:nth-child(3){
       transform: translateX(-250px);
    }
    nav ol li:nth-child(4){
       transform: translateX(-300px);
    }
    nav ol li:nth-child(5){
       transform: translateX(-350px);
    }
    nav .bar{
       display: block;
       position: absolute;
       top: 20px;
       right: 80px;
       cursor: pointer;
    }
    nav .bar #times{
       display: none;
    }
    #check:checked ~ nav .bar #times{
       display: block;
    }
    #check:checked ~ nav .bar #bars{
       display: none;
    }
    #check:checked ~ nav ol{
       visibility: visible;
       height: 465px;
    }
    #check:checked ~ nav ol li:nth-child(1),
    #check:checked ~ nav ol li:nth-child(2),
    #check:checked ~ nav ol li:nth-child(3),
    #check:checked ~ nav ol li:nth-child(4),
    #check:checked ~ nav ol li:nth-child(5){
       transform: translateX(0);
       opacity: 1;
    }
 } 
 section{
    /* background: url(img.jpg); */
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    z-index: -1;
    filter: brightness(30%);
 }



 /* ********************************** */
 /* this is for slider area */
.slider-area{
    width: 100%;
    height:400px;
}

.slider-area .slider img{
    width: 100%;
    height:400px;
}

/****************** Footer ****************/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #5574d8;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




